.container {
  display: flex;
  flex-direction: column;
}

.nav {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  float: left;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
}

.nav-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error-msg {
  color: red;
}

.card-section {
  display: flex;
  gap: 15px;
  margin: 15px;
  flex-wrap: wrap;
  flex: 25%;
}

.card {
  width: 15%;
  height: 120px;
  border: thick double red;
  display: flex;
}

.card-title {
  width: 0px;
  position: relative;
  bottom: 15px;
  right: 10px;
}

.card-total {
  width: 25px;
  height: 25px;
  background-color: orange;
  border-radius: 12px;
  text-align: center;
}

.card-id {
  background-color: red;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: bold;
}
.list-div {
  background-color: skyblue;
  border: 1px solid black;
  display: flex;
  gap: 15px;
  padding: 15px;
}

.list-div.read {
  background-color: red;
}

.list-div p {
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  .card {
    width: 45%;
  }
}
